<div class="d-flex justify-content-between">
  <%= link_to '<i class="bi bi-arrow-left"></i> Back'.html_safe, @workspace, class: 'btn btn-link' %>
  <% if can? :edit, @workspace %>
    <%= react_component("EditInPlace", { field: 'title', value: @workspace.title, csrfToken: form_authenticity_token }, tag: 'h1') %>

    <%= form_with(model: @workspace, class: 'me-2') do |form| %>
      <%= form.hidden_field :state %>
      <%= form.submit 'Save workspace', class: 'btn btn-primary' %>
    <% end %>
  <% else %>
    <h1><%= @workspace.title %></h1>
    <span></span>
  <% end %>
</div>

<div class="mirador-container mx-2">
  <%= react_component(
        "Viewer",
        {
          config: { id: "m-#{SecureRandom.hex}" }.deep_merge(@workspace.state&.dig('config') || {}),
          state: @workspace.state,
          updateStateSelector: '#workspace_state',
          projectResourcesUrl: iiif_project_resources_url(@workspace.project),
        }
      )
  %>
</div>
