<p id="notice"><%= notice %></p>

<h1>Workspaces</h1>

<% content_for(:sidebar) do %>
  <%= render(partial: 'layouts/sidebar') %>
<% end unless @project %>

<% content_for(:top_level_nav) do %>
  <%= render(partial: 'layouts/top_level_nav') %>
<% end unless @project %>

<div class="card-group g-4 flex-wrap">
  <%= render partial: 'workspaces/card', collection: @workspaces, layout: 'layouts/cols', as: :workspace %>
</div>

<%= link_to 'New workspace', project_workspaces_path(@project), method: :post if @project %>
