<% title @workspace.title %>

<div class="d-flex">
  <div class="col me-4">
    <% if can? :update, @workspace %>
      <div class="h4 mt-4">
        <%= react_component("EditInPlace", { field: 'title', value: @workspace.title, csrfToken: form_authenticity_token }) %>
      </div>

      <span class="fst-italic">Last updated <%= time_ago_in_words(@workspace.updated_at) %> ago <%= "by #{User.find(@workspace.paper_trail.originator)&.uid}" if @workspace.paper_trail.originator.present? %></span>
      <div class="mt-3">
        <%= react_component("EditInPlace", { field: 'description', placeholder: 'Workspace description', value: @workspace.description, csrfToken: form_authenticity_token }) %>
      </div>

      <%= form_with(model: @workspace) do |form| %>
        <div class="form-check mt-3">
          <label class="form-check-label">
            <%= form.check_box :published, class: 'form-check-input', onChange: 'this.form.submit()' %>
            Visible to public
          </label>
        </div>
        <% if can?(:feature, @workspace) && Ability.new(nil).can?(:read, @workspace) %>
          <div class="form-check mt-3">
            <label class="form-check-label">
              <%= form.check_box :featured, class: 'form-check-input', onChange: 'this.form.submit()' %>
              Feature workspace
            </label>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <h1 class="h4 mt-4"><%= @workspace.title %></h1>
      <%= @workspace.description %>
    <% end %>
      <div class="card workspace-card my-3">
        <%= link_to(viewer_workspace_url(@workspace), data: { turbolinks: false }) do %>
          <% if @workspace.thumbnail.present? %>
            <%= image_tag @workspace.thumbnail.presence.variant(resize_to_limit: [400, 400]), class: 'card-img-top', alt: ' ', aria: { hidden: true }, style: 'max-height: 400px; width: 100%' %>
          <% else %>
             <%= image_tag 'placeholder.png', class: 'card-img-top' %>
          <% end %>
          <span class="caption-overlay">
            <span class="btn btn-primary stretched-link">Open workspace</span>
          </span>
        <% end %>
      </div>
  </div>

  <div class="col-3 border-start border-2 h-100">
    <nav class="d-flex flex-column ms-4 align-items-start">
      <h2 class="h4 mt-4">Share</h2>

      <%= react_component("ShareModal", { embedLink: embed_workspace_url(@workspace) }) %>

      <h2 class="h4 mt-4">Workspace actions</h2>
      <%= link_to 'Open workspace', viewer_workspace_path(@workspace), class: 'btn btn-outline-primary my-2', data: { turbolinks: false } %>
      <%= render partial: 'workspaces/move_modal', locals: { button_classes: 'btn btn-outline-primary my-2', workspace: @workspace } %>
      <%= render partial: 'workspaces/duplicate_modal', locals: { button_classes: 'btn btn-outline-secondary my-2', workspace: @workspace } %>
      <%= link_to 'Delete workspace', workspace_path(@workspace), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger my-2' if can? :delete, @workspace %>
    </nav>
  </div>
</div>
