<div class="d-flex">
  <div class="col">
    <% if can? :update, @workspace %>
      <%= react_component("EditInPlace", { field: 'title', value: @workspace.title, csrfToken: form_authenticity_token }, tag: 'h1') %>

      <span class="fst-italic">Last updated <%= time_ago_in_words(@workspace.updated_at) %> ago <%= "by #{User.find(@workspace.paper_trail.originator)&.uid}" if @workspace.paper_trail.originator.present? %></span>
      <div>
        <%= react_component("EditInPlace", { field: 'description', placeholder: 'Workspace description', value: @workspace.description, csrfToken: form_authenticity_token }) %>
      </div>

      <%= form_with(model: @workspace) do |form| %>
        <div class="form-check">
          <label class="form-check-label">
            <%= form.check_box :published, class: 'form-check-input', onChange: 'this.form.submit()' %>
            Visible to public
          </label>
        </div>
      <% end %>
    <% else %>
      <h1><%= @workspace.title %></h1>
      <%= @workspace.description %>
    <% end %>
    <%= link_to(viewer_workspace_url(@workspace), data: { turbolinks: false }) do %>
      <div class="card workspace-card my-3">
        <% if @workspace.thumbnail.present? %>
          <%= image_tag @workspace.thumbnail.presence.variant(resize_to_limit: [400, 400]), class: 'card-img-top', alt: ' ', aria: { hidden: true }, style: 'max-height: 400px; width: 100%' %>
        <% else %>
           <%= image_tag 'placeholder.png', class: 'card-img-top' %>
        <% end %>
        <span class="caption-overlay">
          <span class="btn btn-primary stretched-link">Open workspace</span>
        </span>
      </div>
    <% end %>
  </div>
  <div class="col-3 border-start border-2 h-100">
    <nav class="d-flex flex-column mt-2 ms-2 align-items-start">
      <h2 class="h4">Share</h2>

      <%= react_component("ShareModal", { embedLink: embed_workspace_url(@workspace) }) %>

      <h2 class="h4">Workspace actions</h2>
      <%= link_to 'Open workspace', viewer_workspace_path(@workspace), class: 'btn btn-outline-primary my-1', data: { turbolinks: false } %>
      <% if can? :update, @workspace %>
        <%= button_tag 'Move workspace', class: 'btn btn-outline-primary my-1', data: { 'bs-toggle': 'modal', 'bs-target': '#moveWorkspaceModal' } %>
        <div class="modal fade" id="moveWorkspaceModal" tabindex="-1" aria-labelledby="moveWorkspaceModalLabel" aria-hidden="true">
          <%= form_with(model: @workspace, class: 'me-2 modal-dialog move-workspace') do |form| %>
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="moveWorkspaceModalLabel">Move workspace</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <%= form.collection_radio_buttons :project_id, Project.accessible_by(current_ability, :update), :id, :title do |b| %>
                  <div>
                    <%= b.radio_button class: 'btn-check' %>
                    <%= b.label class: 'btn btn-outline-primary border-0' %>
                  </div>
                <% end %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-link" data-bs-dismiss="modal">Close</button>
                <%= form.submit 'Move', class: 'btn btn-primary'%>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
      <%= link_to 'Duplicate workspace', project_workspaces_path(@workspace.project, template: @workspace), class: 'btn btn-outline-secondary my-1', method: :post if can? :duplicate, @workspace %>
      <%= link_to 'Delete workspace', workspace_path(@workspace), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger my-1' if can? :delete, @workspace %>
    </nav>
  </div>
</div>
