<div class="card p-3 m-4">
  <div class="row g-0">
    <div class="col">
      <h2><%= link_to project.title, project %></h2>
      <div><%= link_to pluralize(project.workspaces.count, 'workspace'), project_workspaces_path(project) %></div>
      <p><%= project.description %></p>
    </div>

    <div class="col card-group">
      <%= render partial: 'workspaces/card', collection: project.workspaces.first(2), as: :workspace %>
    </div>

    <div class="col-1 ps-2 align-self-center">
      <%= link_to 'View all', project_workspaces_path(project), class: 'btn btn-outline-secondary' %>
    </div>
  </div>
</div>
