<% title @project.title %>

<div class="d-flex">
  <div class="col me-4">
    <% if can? :update, @project %>
      <div class="h4 mt-4">
        <%= react_component("EditInPlace", { field: 'title', value: @project.title, csrfToken: form_authenticity_token, uuid: @project.slug }) %>
      </div>

      <div>
        <%= react_component("EditInPlace", { field: 'description', placeholder: 'Project description', value: @project.description, csrfToken: form_authenticity_token }) %>
      </div>

      <%= form_with(model: @project) do |form| %>
        <div class="form-check my-3">
          <label class="form-check-label">
            <%= form.check_box :published, class: 'form-check-input', onChange: 'this.form.submit()' %>
            Visible to public
          </label>
        </div>
      <% end %>
    <% else %>
      <h1 class="h4 mt-4"><%= @project.title %></h1>

      <div><%= @project.description %></div>
    <% end %>

    <h2 class="h3 mt-5 py-2 border-top">Recent activity</h2>
    <div class="row workspace-cards g-4">
      <%= render partial: 'workspaces/card', collection: @project.workspaces.accessible_by(current_ability).order(updated_at: :desc).first(2), as: :workspace %>
    </div>

    <% favorites = @project.workspaces.favorites.accessible_by(current_ability) %>

    <% if favorites.any? %>
      <h2 class="h3 mt-5 py-2 border-top">Favorite workspaces</h2>
      <div class="row workspace-cards g-4">
        <%= render partial: 'workspaces/card', collection: favorites.order(updated_at: :desc), as: :workspace %>
      </div>
    <% end %>
  </div>

  <div class="col-3 border-start border-2 h-100">
    <nav class="d-flex flex-column ms-4 align-items-start">
      <% if can? :update, @project %>
        <h2 class="h4 mt-4">Shared with</h2>
        <% User.with_role(:admin, @project).each do |user| %>
          <div><%= user.uid %></div>
        <% end %>
      <% end %>

      <h2 class="h4 mt-4">Project actions</h2>
      <%= link_to 'New workspace', project_workspaces_path(@project), method: :post, class: 'btn btn-outline-secondary my-2' if @project && can?(:add_to, @project) %>
      <%= link_to 'Delete project', @project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger my-2' if can? :delete, @project %>
    </nav>
  </div>
</div>
