<tr>
  <td><%= resource.title %></td>
  <td><%= resource.url %></td>
  <td><%= resource.resource_type %></td>
  <td><%= link_to 'Show', resource %></td>
  <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
  <td><%= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
