<div class="px-3 py-4 bg-white sidebar-nav">
  <ul class="list-unstyled ps-0">
    <li class="nav-item">
      <%= link_to 'Dashboard', root_path, class: ['nav-link', ('active' if current_page?(root_path))].join(' '), aria: { current: ('page' if current_page?(root_path)) } %>
    </li>
    <li class="nav-item mb-2 pb-2 border-1 border-bottom">
      <%= link_to 'Explore', explore_path, class: ['nav-link', ('active' if current_page?(explore_path))].join(' '), aria: { current: ('page' if current_page?(explore_path)) } %>
    </li>

    <li clas="nav-item">
      <%= link_to 'Projects', projects_path, class: "nav-link #{('active' if current_page? projects_path)}", aria: { current: ('page' if current_page? projects_path) } %>
    </li>
    <% if current_user&.projects&.any? %>
      <li class="mb-1 nav-item">
        <div class="collapse show" id="home-collapse">
          <ul class="btn-toggle-nav fw-normal project-list">
            <% current_user.projects.order(title: :asc).each do |project| %>
              <li><%= link_to project.title, project, class: "link-dark rounded ms-0 #{'active' if @project == project }", data: { field: 'title', uuid: project.slug } %></li>
            <% end %>
          </ul>
        </div>
      </li>
    <% end %>
    <li class="nav-item">
      <%= link_to 'Workspaces', workspaces_path, class: "nav-link  #{'active' if current_page? workspaces_path }", aria: { current: ('page' if current_page? workspaces_path) } %>
    </li>

    <% new_content = capture do %>
      <% if can? :create, Project %>
        <li><%= link_to 'Project', projects_path, class: 'dropdown-item', method: :post %></li>
      <% end %>
    <% end %>

    <% if new_content.present? %>
      <li class="nav-item mt-3 ms-3 border-top pt-3">
        <div class="dropdown">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="newDropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            + New
          </button>
          <ul class="dropdown-menu" aria-labelledby="newDropdownMenuButton">
            <%= new_content %>
          </ul>
        </div>
      </li>
    <% end %>
  </ul>
</div>
