<!DOCTYPE html>
<html>
  <head>
    <title>Mise</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container-fluid">
        <%= link_to 'MISE', root_url, class: 'navbar-brand' %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mb-auto ms-auto me-2 me-md-0">
            <li class="nav-item">
              <% if current_user.present? %>
                <%= link_to current_user.uid, '#', class: 'nav-link' %>
              <% else %>
                <%= link_to 'Login', login_path, class: 'nav-link' %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="main-content <%= 'with-sidebar' if content_for?(:sidebar) %>">
      <% if content_for?(:sidebar) %>
        <aside class='bg-white'>
          <%= content_for(:sidebar) %>
        </aside>
      <% end %>

      <main class='col py-4'>
        <%= render 'layouts/flash_messages' %>

        <%= content_for(:top_level_nav) if content_for?(:top_level_nav) %>

        <%= content_for?(:content) ? yield(:content) : yield %>
      </main>
    </div>
  </body>
</html>
