<!DOCTYPE html>
<html>
  <head>
    <%= title site: 'Mise', separator: '|' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div class="main-content <%= 'with-sidebar' if content_for?(:sidebar) %>">
      <% if content_for?(:sidebar) %>
        <aside class='bg-white'>
          <%= content_for(:sidebar) %>
        </aside>
      <% end %>

      <main class='col py-4 pe-4'>
        <%= render 'layouts/flash_messages' %>

        <%= content_for(:top_level_nav) if content_for?(:top_level_nav) %>

        <%= content_for?(:content) ? yield(:content) : yield %>
      </main>
    </div>
  </body>
</html>
