<% content_for(:sidebar) do %>
  <%= render(partial: 'layouts/sidebar') %>
<% end %>

<% content_for(:top_level_nav) do %>
  <%= content_tag :h1, @project.title, data: { field: 'title', uuid: @project.slug } %>

  <ul class="nav nav-tabs mt-4">
    <li class="nav-item">
      <%= link_to 'Project details', @project, class: "nav-link fw-bold #{'active' if current_page? @project }", aria: { current: ('page' if current_page? @project) } %>
    </li>
    <li class="nav-item">
      <%= link_to 'Workspaces', project_workspaces_path(@project), class: "nav-link  #{'active' if current_page? project_workspaces_path(@project) }", aria: { current: ('page' if current_page? project_workspaces_path(@project)) } %>
    </li>
  </ul>
<% end %>

<%= render template: "layouts/application" %>
