<% content_for(:sidebar) do %>
  <%= render(partial: 'layouts/sidebar') %>
<% end %>

<% content_for(:content) do %>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to @project.title, @project, class: 'nav-link fw-bold' %>
    </li>
    <li class="nav-item">
      <%= link_to 'Workspaces', project_workspaces_path(@project), class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to 'Resources', project_resources_path(@project), class: 'nav-link' %>
    </li>
  </ul>

  <%= yield %>
<% end %>

<%= render template: "layouts/application" %>
